.home-tabs {
  width: 1400px;
  height: 100%;
  margin: auto;
  .tabs-group {
    overflow: auto;
  }
}

.button-container {
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
  position: fixed;
  top: 10px;
  left: 20px;
}

.create-task-btn {
  margin-left: 10px; /* Space between the buttons */
}

